html{
  height: 100%;
  text-rendering: optimizelLegibility;
  -webkit-font-smoothing: antialiased;

  font-size: 12px;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

#site{
  max-width: 41rem;
  margin: 0 auto;
  padding-top: 9rem;
}

h1{
  font-family: helvetica, arial, sans-serif;
  font-size: 3rem;
  line-height: 2;
  letter-spacing: 3px;
  text-align: center;
}

p{
  text-align:center;
  color: #8e8e8e;
}

